.row{
    background-color: white;
    
    
} 
.side{
    background-color: white; /* rgba(179,61,38,.5) */;
    /* color: gold; */
    font-family: "Times New Roman", Times, serif;
    margin: 10px, 10px, 10px, 10px;
    
}

.main{
    background-color: white;/* brown */;
    color: black;
    margin: 10px, 10px, 10px, 10px;
}