<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  </head>
  <div class="row">
      <div class="col-3 side">
        <app-left-sidebar></app-left-sidebar>
      </div>
      <div class="col-6 main">
          <app-middle-section></app-middle-section>
        </div>
      <div class="col-3 side">
        <app-right-sidebar></app-right-sidebar>
      </div>  
  </div>
</html>