<div class="Highscore">  
    <h2>Ranking</h2>
    <div *ngIf="scores">
        <ul>
            <li *ngFor="let score of scores">{{score.user}} {{score.highscore}}</li>    
        </ul>
    </div>
    <div *ngIf="!scores"><ul><li>none</li></ul></div>
</div>
<div class="top-user">
    <h2>Top-User</h2>
    <div *ngIf="topuser">
        <ul>
            <li *ngFor="let user of topuser">{{user.username}} {{user.playedgames}}</li>      
        </ul>
    </div>
    <div *ngIf="!topuser"><ul><li>none</li></ul></div>
  </div>
  <!--hello-->
  <!--test-->