.Highscore{
    border-style: solid;
    background-color: white;/* rgba(179,61,38,.5) */
    padding: 5px 100px 5px 5px; /*top right bottom left*/
    margin: 75px 0px 30px 0px;
}

.top-user{
    border-style: solid;
    background-color: white;/* rgba(179,61,38,.5) */
    padding: 5px 100px 5px 5px; /*top right bottom left*/
    margin: 120px 0px 30px 0px;
}