<div class="form">
  <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">      
    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input ngModel type="text" placeholder="Enter Username" name="uname" required><br>                    
      <label for="psw"><b>Password</b></label>
      <input ngModel type="password" placeholder="Enter Password" name="psw" required>                        
      <button (click)="setLogin()" type="submit" class="loginbutton">Login</button>
      <p>Not a member yet? Feel free and ...
        <button (click)="setRegister()" type="submit" class="registerbutton">Register</button>
      </p>
    </div>
  </form>
</div>
<app-game></app-game>