.user-info{
    border-style: solid;
    border-radius: 10px;
    background-color: lightgrey; /* rgba(179,61,38,.5)*/
    padding: 5px 5px 5px 5px; /*top right bottom left*/
    margin: 75px 10px 30px 0px;
} 
.user-highscore{
    border-style: solid;
    border-radius: 10px;
    background-color: lightgrey;/* rgba(179,61,38,.5) */
    padding: 5px 5px 5px 5px; /*top right bottom left*/
    margin: 0px 10px 0px 0px;
    
    
}